# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [34]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

597

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [57]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
query_url = f"{url}appid={weather_api_key}&units={units}&q="
#print(query_url)

lat = []
long = []
temp = []
humidity = []
foundcities = []
cloud = []
wind = []

#for city in cities[:25]:
for i in range(len(cities)):
    
    #print(query_url+city)
    response = requests.get(query_url + cities[i]).json()
    
    try:
        response['coord']
    except:
        print(f'{i} {cities[i]} not found. Continuing.')
        continue
        
    #print(type(response))
    #print(json.dumps(response, indent=4))
    
    lat.append(response['coord']['lat'])
    long.append(response['coord']['lon'])
    temp.append(response['main']['temp'])
    humidity.append(response['main']['humidity'])
    foundcities.append(response['name'])
    cloud.append(response['clouds']['all'])
    wind.append(response['wind']['speed'])
    
    print(i, cities[i])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

        
#     except:
#         continue

0 minas
1 samusu not found. Continuing.
2 rikitea
3 mayo
4 severo-kurilsk
5 rabo de peixe
6 bushehr
7 karkaralinsk not found. Continuing.
8 talnakh
9 port lincoln
10 ushuaia
11 busselton
12 hermanus
13 albany
14 hobart
15 yar-sale
16 provideniya
17 chuy
18 saint-philippe
19 illoqqortoormiut not found. Continuing.
20 grindavik
21 barentsburg not found. Continuing.
22 new norfolk
23 nikolskoye
24 hasaki
25 nichinan
26 san andres
27 danville
28 tuatapere
29 amderma not found. Continuing.
30 taolanaro not found. Continuing.
31 saskylakh
32 noyabrsk
33 khatanga
34 punta arenas
35 kapaa
36 denpasar
37 tuktoyaktuk
38 mataura
39 torbay
40 dukat
41 saint-georges
42 upernavik
43 butembo
44 port elizabeth
45 mareeba
46 lermontovka
47 fort nelson
48 thompson
49 geraldton
50 inhambane
51 cayenne
52 arraial do cabo
53 coahuayana
54 anchorage
55 sorong
56 coquimbo
57 victoria
58 port alfred
59 namatanai
60 wollongong
61 lebu
62 doctor pedro p. pena not found. Continuing.
63 taunggyi
64 cape town
65 sungaipenuh
66 kahului
67 norman wells
68 abdulino
69 ukiah
70 oranjestad
71 vaini
72 ahipara
73 tsihombe not found. Continuing.
74 souillac
75 lasa
76 vardo
77 hailar
78 meulaboh
79 tiksi
80 safety harbor
81 ghanzi
82 butaritari
83 kodiak
84 hambantota
85 northam
86 georgetown
87 rawson
88 puerto ayora
89 mar del plata
90 sapulpa
91 pochutla
92 concordia
93 lagoa
94 yellowknife
95 qaanaaq
96 sur
97 acarau
98 kaitangata
99 ust-tsilma
100 tabas
101 los llanos de aridane
102 tautira
103 chokurdakh
104 flinders
105 atuona
106 bluff
107 pauini
108 pahrump
109 skibbereen
110 grand gaube
111 udachnyy
112 grand river south east not found. Continuing.
113 toliary not found. Continuing.
114 ron
115 longyearbyen
116 itaqui
117 carnarvon
118 jamestown
119 nome
120 mount gambier
121 boa vista
122 waipawa
123 uspenka
124 de-kastri
125 rocha
126 belmonte
127 alice springs
128 teguise
129 cabo san lucas
130 shimoda
131 yatou
132 bredasdorp
133 mezen
134 mys shmidta not found. Continuing.
135 plettenberg bay
136 flin flon
137 yulara
138 kapit
139 ancud
140 myrtle beach
141 lompoc
142 soyo
143 cedar city
144 ponta do sol
145 clyde river
146 wasilla
147 hithadhoo
148 dauriya
149 east london
150 isangel
151 kholtoson
152 sentyabrskiy not found. Continuing.
153 tasiilaq
154 coolum beach
155 podyuga
156 sola
157 barrow
158 pevek
159 svobodnyy
160 belaya gora
161 bengkulu
162 kupang
163 chimoio
164 eston
165 sarakhs
166 bubaque
167 rosarito
168 narsaq
169 cherskiy
170 lima
171 zhanaozen
172 tawau
173 laguna
174 goundam
175 hofn
176 constitucion
177 ratne
178 yeppoon
179 airai
180 leshukonskoye
181 stege
182 vao
183 buchanan
184 tumannyy not found. Continuing.
185 kununurra
186 karasjok
187 dikson
188 zeya
189 belushya guba not found. Continuing.
190 avarua
191 artyk not found. Continuing.
192 saint-joseph
193 great falls
194 san patricio
195 vilcun
196 lere
197 bilma
198 hobyo
199 seymchan
200 oranjemund
201 husavik
202 the valley
203 sumbe
204 bjornevatn
205 salalah
206 mubende
207 byron bay
208 codrington
209 azul
210 ribeira grande
211 sandpoint
212 bac can not found. Continuing.
213 hilo
214 oyama
215 asfi
216 lusambo
217 monte azul
218 pisco
219 broome
220 menzelinsk
221 lesnoy
222 maceio
223 hamilton
224 taltal
225 saint george
226 cochrane
227 gamba
228 saint-francois
229 gandajika
230 riyadh
231 benguela
232 phuntsholing
233 palana
234 dzhebariki-khaya
235 pahalgam
236 nuuk
237 mamlyutka
238 sitka
239 mersing
240 makakilo city
241 iqaluit
242 xuddur
243 mahebourg
244 bella vista
245 fairbanks
246 te anau
247 arcata
248 quetzaltepec not found. Continuing.
249 attawapiskat not found. Continuing.
250 zhangzhou
251 xingyi
252 okhotsk
253 gigmoto
254 kanniyakumari
255 saint-augustin
256 satitoa not found. Continuing.
257 arnoldstein
258 alofi
259 nyurba
260 takoradi
261 sarangani
262 ugoofaaru
263 ouadda
264 camacupa
265 vila franca do campo
266 maltahohe
267 matamoros
268 louisbourg not found. Continuing.
269 ilulissat
270 evans
271 cidreira
272 mulege
273 dunedin
274 olafsvik
275 clearwater
276 tarija
277 xinmin
278 wahiawa
279 zhangjiakou
280 tabiauea not found. Continuing.
281 touros
282 mwinilunga
283 sao filipe
284 kazalinsk not found. Continuing.
285 la paz
286 khonuu not found. Continuing.
287 linhares
288 rabat
289 gaoual
290 kiama
291 saint-pierre
292 imeni poliny osipenko
293 la asuncion
294 salina
295 mitchell
296 adrar
297 muravlenko
298 abha
299 nizhneyansk not found. Continuing.
300 leningradskiy
301 kropotkin
302 umm lajj
303 sioux lookout
304 paita
305 pitimbu
306 lyngseidet
307 castro
308 gidam
309 lolua not found. Continuing.
310 mehamn
311 puerto escondido
312 iralaya
313 lavrentiya
314 nisia floresta
315 faya
316 rungata not found. Continuing.
317 catamarca
318 yanan not found. Continuing.
319 charters towers
320 katangli
321 guerrero negro
322 omsukchan
323 satuba
324 hirapur
325 baykit
326 storsteinnes
327 ornskoldsvik
328 abalak
329 tonantins
330 chishtian mandi
331 ajdabiya
332 dolbeau not found. Continuing.
333 asau
334 smithers
335 eureka
336 ravar
337 wynyard
338 luderitz
339 bonga
340 paso de los toros
341 jacksonville
342 kaeo
343 egvekinot
344 alta floresta
345 veraval
346 beringovskiy
347 namibe
348 aberdeen
349 kloulklubed
350 gijon
351 ardistan not found. Continuing.
352 acapulco
353 la pintada
354 bolshiye klyuchishchi not found. Continuing.
355 vrangel
356 tsybli
357 polyarnyy
358 sandur
359 warqla not found. Continuing.
360 penzance
361 longkou
362 chumikan
363 altamira
364 san quintin
365 sorvag not found. Continuing.
366 southbridge
367 ambilobe
368 canyon lake
369 shambu
370 yerbogachen
371 gouyave
372 hovd
373 monrovia
374 mount isa
375 khowst
376 tura
377 meyungs not found. Continuing.
378 comodoro rivadavia
379 launceston
380 inuvik
381 yima
382 zhezkazgan
383 sistranda
384 cape girardeau
385 strezhevoy
386 isabela
387 labuhan
388 erzin
389 bisira
390 dalbandin
391 apricena
392 marawi
393 bathsheba
394 chapais
395 bur gabo not found. Continuing.
396 faanui
397 kokoda
398 port hardy
399 ouesso
400 tete
401 nsanje
402 balimo not found. Continuing.
403 saposoa
404 haines junction
405 kyabe
406 dingle
407 ulaanbaatar
408 kefamenanu
409 shiyan
410 bay roberts
411 koratla
412 mitsamiouli
413 klaksvik
414 san diego
415 cabedelo
416 ipixuna
417 vila velha
418 alto piquiri
419 grafton
420 shelburne
421 otake
422 santa marinella
423 atar
424 ilebo
425 arlit
426 bundaberg
427 san joaquin
428 richards bay
429 margherita
430 bethel
431 port arthur
432 innisfail
433 rio gallegos
434 pangnirtung
435 alice town
436 tilichiki
437 gardabani
438 korla
439 porto novo
440 irig
441 ixtapa
442 bambous virieux
443 atambua
444 wairoa
445 santa cruz de tenerife
446 sydney
447 berezovyy
448 beyneu
449 sapao not found. Continuing.
450 sao francisco
451 marsa matruh
452 zhicheng
453 aljezur
454 wad rawah
455 aginskoye
456 tecoanapa
457 fortuna
458 batagay-alyta
459 colac
460 mandurah
461 hille
462 sao jose da coroa grande
463 fevralsk not found. Continuing.
464 ponnampet
465 chifeng
466 kathu
467 amos
468 nieuw amsterdam
469 kamyaran
470 atikokan
471 aykhal
472 zhanatas not found. Continuing.
473 victor harbor
474 necochea
475 mizdah
476 angoche
477 lingasad not found. Continuing.
478 mullaitivu not found. Continuing.
479 vila
480 bandarban
481 kysyl-syr
482 freetown
483 vaitupu not found. Continuing.
484 katsuura
485 stephenville
486 santa cruz
487 abu zabad
488 xianyang
489 mandali
490 novokizhinginsk
491 sale
492 cervo
493 hualmay
494 san lorenzo
495 umm durman not found. Continuing.
496 ust-kulom
497 kavaratti
498 esperance
499 iablanita
500 kamenskoye not found. Continuing.
501 zhigansk
502 labutta not found. Continuing.
503 road town
504 port antonio
505 opuwo
506 kushiro
507 wageningen
508 aklavik
509 sept-iles
510 teya
511 rehoboth
512 urdzhar not found. Continuing.
513 broken hill
514 banjar
515 paine
516 berlevag
517 maunabo
518 warrnambool
519 panzhihua
520 pala
521 liverpool
522 zyryanka
523 ulladulla
524 pemba
525 akonolinga
526 taywarah
527 nowy dwor mazowiecki
528 betioky
529 saleaula not found. Continuing.
530 vostok
531 newport
532 utiroa not found. Continuing.
533 manakara
534 mabaruma
535 fuerte olimpo
536 tamiahua
537 mananjary
538 karratha
539 ola

540 bow island
541 sao joao da barra
542 nouadhibou
543 kuusamo
544 moose factory
545 canico
546 la ronge
547 tungkang not found. Continuing.
548 canals
549 kongolo
550 komsomolskiy
551 portobelo
552 chokwe
553 tamulte not found. Continuing.
554 srikakulam
555 jiddah not found. Continuing.
556 brownsville
557 roald
558 havelock
559 aban
560 mikkeli
561 honningsvag
562 chunskiy
563 senanga
564 tres picos
565 nhulunbuy
566 san jose
567 petropavlovsk-kamchatskiy
568 saleilua not found. Continuing.
569 correntina
570 krasnoshchekovo
571 canmore
572 kodinsk
573 gaoua
574 olaine
575 ambodifototra not found. Continuing.
576 arica
577 indiana
578 chuzhou
579 msowero
580 pacific grove
581 harper
582 jinxiang
583 nipawin
584 balkhash
585 vaitape
586 berbera
587 mikuni
588 perelyub
589 burdinne
590 sovetskiy
591 rawannawi not found. Continuing.
592 nacala
593 ati
594 kingsport
595 sibu
596 lodja
The latitude information received is: [-34.38, -23.12, 38.89, 50.68, 37.8, 28.97, 69.49, -34.73, -54.8, -33.65, -34.42, 42.6, -42.88, 66.83, 64.38, -33.7, -21.36, 63.84, -42.78, 59.7, 35.73, 31.6, 12.58, 36.59, -46.13, 71.92, 63.2, 71.97, -53.15, 22.08, -8.65, 69.45, -46.19, 47.67, 62.55, 12.06, 72.79, 0.15, -33.92, -17, 47.15, 58.81, 55.74, -28.77, -23.86, 4.93, -22.97, 18.73, 61.22, -0.88, -29.95, 22.29, -33.59, -3.67, -34.43, -37.62, 20.78, -33.93, -2.08, 20.89, 65.28, 53.7, 39.15, 12.52, -21.2, -35.17, -20.52, 46.62, 70.37, 49.2, 4.14, 71.69, 27.99, -21.57, 3.07, 57.79, 6.12, 51.03, 5.41, -43.3, -0.74, -38, 36, 15.74, -31.39, 39.05, 62.46, 77.48, 22.57, -2.89, -46.28, 65.44, 33.6, 28.66, -17.73, 70.63, -34.58, -9.8, -46.6, -7.71, 36.21, 51.55, -20.01, 66.42, 15.67, 78.22, -29.13, -24.87, 42.1, 64.5, -37.83, 2.82, -41.41, 48.39, 51.47, -34.48, -15.86, -23.7, 29.06, 22.89, 34.67, 37.15, -34.53, 65.85, -34.05, 54.77, -25.24, 2.02, -41.87, 33.69, 34.64, -6.13, 37.68, 32.67, 70.47, 61.58, -0.6, 49.93, -33.02, -19.55, 50.3, 65.61, -26.53, 61.09, -13.88, 71.29, 69.7, 51.4, 68.53, -3.8, -10.17, -19.12, 51.15, 36.54, 11.28, 32.33, 60.92, 68.75, -12.04, 43.3, 4.25, 38.42, 16.41, 64.25, -35.33, 51.67, -23.13, -8.93, 64.9, 54.99, -22.67, 5.88, -15.77, 69.47, 73.51, 53.75, -21.21, -21.37, 47.5, 19.22, -38.65, 10.39, 18.69, 5.35, 62.88, -28.55, 66.04, 18.22, -11.21, 69.67, 17.02, 0.56, -28.65, -38.27, -36.78, 38.52, 48.28, 19.73, 36.3, 32.3, -4.97, -15.15, -13.7, 42.25, 55.73, 57.62, -9.67, 39.18, -25.4, 37.1, 51.18, -2.65, 46.42, -6.75, 24.69, -12.58, 26.85, 59.12, 62.22, 34.03, 64.18, 54.94, 57.05, 2.43, 21.35, 63.75, 4.12, -20.41, 36.43, 64.84, -45.42, 40.87, 24.51, 24.19, 59.38, 13.78, 8.08, 51.23, 46.55, -19.06, 63.28, 4.88, 5.4, 5.67, 8.08, -12.02, 37.72, -24.83, 25.53, 69.22, 33.53, -30.18, 26.88, -45.87, 64.89, 27.97, -21.54, 41.99, 21.5, 40.81, -5.2, -11.74, 14.9, -16.5, -19.39, 33.99, 11.75, -34.68, -21.34, 52.42, 11.03, 38.84, 43.71, 20.5, 63.79, 18.22, 69.38, 45.44, 25.02, 50.1, -5.09, -7.47, 69.58, -24.79, 18.98, 71.04, 15.85, 15, 65.58, -6.09, 18.39, -28.47, -20.1, 51.71, 27.98, 62.53, -9.56, 21.53, 61.67, 69.24, 63.29, 58.13, -2.87, 29.8, 30.76, 46.43, 54.78, 40.8, 31.27, -41, -26.65, 7.28, -32.82, 30.33, -35.1, 66.32, -9.88, 20.9, 63.05, -15.2, 57.14, 7.04, 43.54, 16.86, 5.75, 42.73, 49.99, 69.2, 15.1, 50.12, 37.65, 54.72, -3.2, 30.48, 42.08, -13.2, 29.88, 9.57, 61.28, 12.16, 48.01, 6.3, -20.73, 33.38, 25.52, -45.87, -41.45, 68.35, 34.74, 47.8, 63.73, 37.31, 60.73, 6.71, -6.88, 36.96, 8.52, 28.89, 41.78, 8, 13.22, 49.78, -16.48, -8.88, 50.7, 1.61, -16.16, -16.92, -6.93, 60.75, 9.45, 11, 47.91, -9.45, 32.65, 47.6, 18.82, -11.38, 62.23, 32.72, -6.98, -1.76, -20.33, -24.03, 42.21, 44.08, 34.2, 42.03, 20.52, -4.32, 18.74, -24.85, 10.26, -28.78, 27.28, 41.37, 38.8, -17.53, -51.62, 66.15, 25.72, 60.47, 41.46, 41.76, 6.5, 45.1, 20.7, -20.34, -9.11, -39.03, 28.47, -33.87, 51.67, 45.32, -15.95, 31.35, 30.3, 37.32, 15.16, 51.1, 16.52, 40.6, 67.8, -38.33, -32.55, 52.33, -8.9, 12.15, 42.27, 7.92, 48.57, 5.88, 34.8, 48.76, 66, -35.57, -38.55, 31.45, -16.23, 42.03, 22.2, 63.9, 8.48, 35.13, 32.22, -17.8, 12.35, 34.34, 33.75, 51.61, 34.04, 43.67, -11.1, -25.33, 61.69, 10.57, -33.87, 44.95, 66.77, 18.42, 18.18, -18.06, 42.98, 51.97, 68.22, 50.2, 60.38, -23.32, -31.95, -8.19, -33.82, 70.86, 18.01, -38.38, 26.59, 9.36, 53.41, 65.75, -35.35, -12.97, 3.77, 33.35, 52.43, -23.72, 46.49, 51.59, -22.13, 8.2, -21.04, 21.27, -21.22, -20.74, 59.58, 49.87, -21.64, 20.93, 65.97, 51.26, 32.63, 55.1, 38.96, -5.38, 40.43, 9.55, -24.53, 18.3, 25.9, 62.58, 34.88, 56.67, 61.69, 70.98, 56.08, -16.12, 15.87, -12.23, 37.34, 53.05, -13.34, 51.67, 51.08, 58.69, 10.3, 56.79, -18.48, 40, 32.32, -6.53, 36.62, 4.38, 22.86, 53.37, 46.84, -16.52, 10.44, 36.22, 51.87, 50.58, 61.36, -14.54, 13.22, 36.55, 2.3, -3.48]
The temperature information received is: [11.35, 20.64, 29.2, 9.99, 20.31, 31.33, 12, 12.17, -2, 9.45, 10, 19.13, 2.84, 7.88, 8, 14.02, 15.89, 10, 3.06, 14.15, 25.9, 23, 30, 28.93, 3.89, 27.75, 6.4, 20.38, 0, 28.3, 26, 17, 3.89, 21.08, 10.36, 25, 4.42, 14.28, 15, 18.84, 19.38, 22, 20, 14, 20.04, 27, 23, 29, 17.54, 25.83, 14, 27.69, 12.78, 27.54, 8.11, 11.15, 18.52, 10.28, 17.06, 28.58, 22, 7.14, 30.84, 30, 24, 13.25, 18, 17, 6, 17.87, 24.72, 8.86, 31.92, 10.53, 27.87, 14, 26.96, 13.7, 25.42, 7.62, 23.26, 9.78, 32.69, 30, 11.35, 18.38, 25.33, 5.25, 28.27, 28, 7.22, 9.15, 32, 22, 27, 11.64, 9.49, 26.68, 3.89, 27.94, 29.14, 12, 19.44, 22, 23.62, 7, 12.23, 13, 24.45, 10.16, 7, 27, 7.64, 19.17, 12.38, 13.15, 23, 6, 22, 27.98, 22.78, 20.29, 8, 12.08, 16.02, 16, 5, 22.51, 9.44, 24.27, 19.09, 22.55, 24, 20.43, 1, 17.59, 28.85, 17.11, 15.58, 22, 11.95, 7, 11.67, 12.68, 26, 4, 1.31, 21.22, 15.17, 24.17, 22, 12.88, 18.8, 22, 27.07, 23.22, 10, 8.43, 17, 23.45, 23.54, 34.02, 32.56, 6.58, 11.82, 15.08, 17, 11.76, 11.21, 15, 20.17, 25, 12, 6, 8.19, 23.91, 26, 15.28, 15.33, 32, 10.21, 21.05, 29.88, 26.46, 15.34, 18.62, 10, 29.4, 21.07, 6, 29, 16.35, 11.45, 7.05, 6.67, 20.21, 17.44, 25.98, 24, 21.21, 22.82, 20.02, 18.7, 20.25, 10, 5.9, 23, 26.89, 16.84, 30.69, 10.67, 21.43, 18.43, 25.4, 31, 19.86, 24.7, 8.97, 18.88, 14.6, 8.94, 9.91, 14, 24, 29.28, 5.77, 22.83, 18, 31.71, 12.45, 3.66, 17.44, 29, 17.5, 15.67, 27.38, 26.81, 22.49, 17.69, 28, 21.87, 24.14, 28.77, 28.15, 19.79, 11.57, 20.3, 10.9, 34.72, 7, 33.65, 16.36, 32.82, 5.56, 10.18, 31.73, 11.01, 22, 29.11, 20.87, 24, 14.87, 22.91, 13, 20.11, 20.81, 25.82, 9.77, 15.92, 10.63, 26.73, 36.95, 31, 37.02, 7.95, 22.93, 1.54, 19.84, 27.49, 27, 20.19, 24, 6, 16.56, 24.45, 5, 29, 30, 7.02, 25.01, 23, 12.85, 16.85, 10.09, 24.28, 12.05, 23, 27.46, 15.73, 6.52, 13, 9.78, 25.8, 35.22, 22.64, 15, 17, 17.3, 25.84, 10, 19, 15.61, 11, 24.55, 11.67, 1.66, 32, 29.04, 5.27, 20.99, 12.9, 26, 19.23, 31, 21.08, 15.24, 15, 12, 23.5, 14.49, 22.22, 7.44, 26, 20.74, 19.9, 19.22, 33.18, 10.73, 21.32, 25, 13.96, 25, 19, 24.32, 23.59, 5, 5.3, 19, 25.56, 21.1, 9, 24.13, 10, 25, 24.2, 24.44, 16.06, 29.66, 25, 23.89, 26, 29, 25.71, 24.82, 15, 21.26, 21.33, 16.38, 28.25, 20.05, 22.45, 25.02, 14, 18.61, 23.3, 20.78, 25.49, 25.5, 8, 22.4, 24, 25, 21.06, 18.77, 20.3, 27.6, 22.65, 18.89, 36.99, 22.9, 33.03, 15, 26.34, 17.32, 24.33, 22.57, 24, 17.22, -4, 3, 29.54, 10.85, 22, 21.35, 26, 19.81, 30.28, 18.67, 19.23, 9.44, 18.34, 9.79, 17.09, 22.21, 22.6, 23, 27.22, 21.93, 36.67, 16.68, 30.94, 16.99, 20.9, 6.67, 15, 17.66, 24.21, 19.87, 19.96, 26, 30.74, 27.33, 23, 25.92, 22, 11.67, 8.89, 23.95, 21.77, 19.94, 24.59, 24.21, 25.4, 25.36, 32.09, 23.61, 28.56, 24.46, 29.78, 14.53, 20.17, 17.79, 18.15, 17, 5.12, 28.51, 8, 17.22, 22.6, 29.32, 27.89, 12.84, 15, 16.39, 19, 22.25, 13.31, 7.41, 13, 26, 11.33, 5, 27.81, 7.22, 22.06, 21.93, 14.22, 15.25, 9.6, 21.83, 19.88, 13.38, 15.65, 15.07, 15.57, 14.09, 19.71, 25.8, 25.29, 30.42, 19.92, 19.77, 13.31, 19.21, 24, 21, 12, 32, 20.54, 14, 23.07, 26.91, 25, 24.75, 18.16, 28.32, 32.91, 9.53, 26.99, 15.46, 12.78, 5, 17.99, 13.47, 30.23, 20, 31.72, 17, 22.96, 18.78, 11.48, 16.61, 26.14, 15, 16, 28.23, 25, 18.81, 19.91, 24.6, 27.92, 16, 22.94, 26.17, 34.18, 23, 10.39, 18.13, 6.99, 20.68, 31.75, 21.66, 25, 23.37]

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [58]:
#make the dataframe using a dictionary
# create a data frame from cities, lat, long, temp, and humidity
weather_dict = {
    "city": foundcities,
    "lat": lat,
    "long": long,
    "temp": temp,
    "humidity": humidity,
    "cloudiness": cloud,
    "windspeed": wind
}
weather_data = pd.DataFrame(weather_dict)
weather_data
# print(len(foundcities))
# print(len(lat))
# print(len(long))
# print(len(temp))
# print(len(humidity))

                city    lat    long   temp  humidity  cloudiness  windspeed
0              Minas -34.38  -55.24  11.35       100          90      15.40
1            Rikitea -23.12 -134.97  20.64        60          24       7.67
2               Mayo  38.89  -76.51  29.20        58           1       3.10
3    Severo-Kuril'sk  50.68  156.12   9.99        71          35       5.61
4      Rabo de Peixe  37.80  -25.58  20.31        82          75       2.10
..               ...    ...     ...    ...       ...         ...        ...
539           Nacala -14.54   40.67  20.68        82           0       5.49
540              Ati  13.22   18.34  31.75        42          76       4.08
541        Kingsport  36.55  -82.56  21.66        83          90       3.10
542             Sibu   2.30  111.82  25.00        94          20       1.50
543            Lodja  -3.48   23.43  23.37        67          56       0.99

[544 rows x 7 columns]

In [59]:
#export to csv
#.to_csv('filepath/name')
weather_data.to_csv('output_data/weather_data.csv')

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [49]:
#open the dataframe from the saved CSV to use consistent data
pd.read_csv('output_data/weather_data.csv')

     Unnamed: 0             city    lat    long   temp  humidity
0             0            Minas -34.38  -55.24  11.57       100
1             1          Rikitea -23.12 -134.97  20.64        60
2             2             Mayo  38.89  -76.51  29.28        61
3             3  Severo-Kuril'sk  50.68  156.12   9.99        71
4             4    Rabo de Peixe  37.80  -25.58  20.31        82
..          ...              ...    ...     ...    ...       ...
539         539           Nacala -14.54   40.67  20.68        82
540         540              Ati  13.22   18.34  31.75        42
541         541        Kingsport  36.55  -82.56  23.50        69
542         542             Sibu   2.30  111.82  25.00        94
543         543            Lodja  -3.48   23.43  23.37        67

[544 rows x 6 columns]

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression